<nav id="nav">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Startsida</NavLink>
        </li>
        <li>
            <NavLink href="Calculator">Kalkylator</NavLink>
        </li>
        <li>
            <NavLink href="Json">JSON</NavLink>
        </li>
    </ul>
</nav>