<header>
    <div id="logo-container">
        <span>@websiteName</span>
    </div>
    <div id="menu-button">
        <div id="line"></div>
    </div>
</header>

@code {
    [Parameter]
    public string websiteName { set; get; } = "logo";
}